{% extends 'base.html' %}
{% load static %}
  {% block content %}
    <div class="container">
        <div class="row mt-5">
            {% for client in queryset %}
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="{{ client.profile_url }}" class="img-fluid rounded-start" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">{{ client.user.username}}</h5>
                      <br>
                      <h6 class="card-text"> Address</h6>
                      <hr>
                      <p class="card-text">Street : {{ client.address.street }} </p>
                      <p class="card-text">City : {{ client.address.city }} </p>
                      <p class="card-text">State : {{ client.address.state }} </p>
                      <p class="card-text">Zip code : {{ client.address.zip_code }} </p>
                      <p class="card-text">Country : {{ client.address.country }} </p>
                      <p class="card-text">Phone : {{ client.address.phone_number }} </p>
                    </div>
                  </div>
                </div>
              </div>
            {% endfor %}
        </div>
    </div>
  {% endblock content %}